In [1]:
import pandas as pd 
import csv  
import requests
import numpy as np
import os
from bs4 import BeautifulSoup
from selenium import webdriver
import time
from datetime import datetime, timedelta
from pytz import timezone
import pytz

In [2]:
#A list of all 50 states plus the District of Columbia saved in a 
#variable named us_states_list

us_states_list = [
    'Alabama',
    'Alaska',
    'Arizona',
    'Arkansas',
    'California',
    'Colorado',
    'Connecticut',
    'Delaware',
    'District of Columbia',
    'Florida',
    'Georgia',
    'Hawaii',
    'Idaho',
    'Illinois',
    'Indiana',
    'Iowa',
    'Kansas',
    'Kentucky',
    'Louisiana',
    'Maine',
    'Maryland',
    'Massachusetts',
    'Michigan',
    'Minnesota',
    'Mississippi',
    'Missouri',
    'Montana',
    'Nebraska',
    'Nevada',
    'New Hampshire',
    'New Jersey',
    'New Mexico',
    'New York',
    'North Carolina',
    'North Dakota',
    'Ohio',
    'Oklahoma',
    'Oregon',
    'Pennsylvania',
    'Rhode Island',
    'South Carolina',
    'South Dakota',
    'Tennessee',
    'Texas',
    'Utah',
    'Vermont',
    'Virginia',
    'Washington',
    'West Virginia',
    'Wisconsin',
    'Wyoming'
]

# Import Kaggle CSV With Cases & Deaths By State #

In [3]:
# Import Kaggle csv file with total cases and deaths by US state and county
# Data was downloaded from https://www.kaggle.com/imdevskp/corona-virus-report#usa_county_wise.csv
file = "Raw_Data/usa_county_wise.csv"
kaggle_df = pd.read_csv(file)
kaggle_df.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,"American Samoa, US",1/22/20,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,"Guam, US",1/22/20,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,"Northern Mariana Islands, US",1/22/20,0,0
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,"Puerto Rico, US",1/22/20,0,0
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,"Virgin Islands, US",1/22/20,0,0

In [4]:
# Only keep rows for US states (i.e. remove Guam, Virgin Islands, etc.)
kaggle_us = kaggle_df.loc[kaggle_df["iso2"] == "US",:]

In [5]:
# Remove columns not needed (UID, iso2(country/territory), iso3(country/territory), & code3)
kaggle_rem_cols = kaggle_us[["FIPS", "Admin2","Province_State", "Lat", "Long_", "Combined_Key", "Date", "Confirmed", "Deaths"]]

In [6]:
# Rename columns (Admin 2 to County, Province_State to State, Long_ to Lng)
kaggle_renamed = kaggle_rem_cols.rename(columns={"Admin2":"County", "Province_State":"State", "Long_":"Lng"})
kaggle_renamed.sample(10)

,FIPS,County,State,Lat,Lng,Combined_Key,Date,Confirmed,Deaths
141418,28095.0,Monroe,Mississippi,33.892368,-88.480844,"Monroe, Mississippi, US",3/5/20,0,0
109273,36051.0,Livingston,New York,42.725963,-77.779662,"Livingston, New York, US",2/24/20,0,0
42535,6059.0,Orange,California,33.701475,-117.764600,"Orange, California, US",2/4/20,1,0
53504,28037.0,Franklin,Mississippi,31.477866,-90.896730,"Franklin, Mississippi, US",2/7/20,0,0
6938,13075.0,Cook,Georgia,31.160685,-83.429472,"Cook, Georgia, US",1/24/20,0,0
61340,48445.0,Terry,Texas,33.174028,-102.335452,"Terry, Texas, US",2/9/20,0,0
200643,39081.0,Jefferson,Ohio,40.386141,-80.762595,"Jefferson, Ohio, US",3/23/20,0,0
237888,8047.0,Gilpin,Colorado,39.856465,-105.525260,"Gilpin, Colorado, US",4/4/20,0,0
16201,80036.0,Out of NY,New York,0.000000,0.000000,"Out of NY, New York, US",1/26/20,0,0
141901,37083.0,Halifax,North Carolina,36.256693,-77.655611,"Halifax, North Carolina, US",3/5/20,0,0

In [7]:
# Check for missing values
kaggle_renamed.count()

FIPS            285648
County          285824
State           286000
Lat             286000
Lng             286000
Combined_Key    286000
Date            286000
Confirmed       286000
Deaths          286000
dtype: int64

In [8]:
# Drop rows with missing data
kaggle_drop = kaggle_renamed.dropna()
kaggle_drop.count()

FIPS            285472
County          285472
State           285472
Lat             285472
Lng             285472
Combined_Key    285472
Date            285472
Confirmed       285472
Deaths          285472
dtype: int64

In [9]:
# Check if date column date are strings or date objects
kaggle_drop.dtypes

FIPS            float64
County           object
State            object
Lat             float64
Lng             float64
Combined_Key     object
Date             object
Confirmed         int64
Deaths            int64
dtype: object

In [10]:
# Change dates from strings to datetime objects
kaggle_drop['Date'] = pd.to_datetime(kaggle_drop['Date'],format='%m/%d/%y')

In [11]:
# Check that column type changed
kaggle_drop.dtypes

FIPS                   float64
County                  object
State                   object
Lat                    float64
Lng                    float64
Combined_Key            object
Date            datetime64[ns]
Confirmed                int64
Deaths                   int64
dtype: object

In [12]:
# Remove rows without a county name
kaggle_final = kaggle_drop.loc[kaggle_drop["County"] != "Unassigned",:]
kaggle_final2 = kaggle_final[~kaggle_final["County"].str.contains("Out of")]
kaggle_final2.tail(10)

,FIPS,County,State,Lat,Lng,Combined_Key,Date,Confirmed,Deaths
286322,56027.0,Niobrara,Wyoming,43.056077,-104.475890,"Niobrara, Wyoming, US",2020-04-18,1,0
286323,56029.0,Park,Wyoming,44.521575,-109.585282,"Park, Wyoming, US",2020-04-18,1,0
286324,56031.0,Platte,Wyoming,42.132991,-104.966331,"Platte, Wyoming, US",2020-04-18,0,0
286325,56033.0,Sheridan,Wyoming,44.790489,-106.886239,"Sheridan, Wyoming, US",2020-04-18,12,0
286326,56035.0,Sublette,Wyoming,42.765583,-109.913092,"Sublette, Wyoming, US",2020-04-18,1,0
286327,56037.0,Sweetwater,Wyoming,41.659439,-108.882788,"Sweetwater, Wyoming, US",2020-04-18,10,0
286328,56039.0,Teton,Wyoming,43.935225,-110.589080,"Teton, Wyoming, US",2020-04-18,62,0
286329,56041.0,Uinta,Wyoming,41.287818,-110.547578,"Uinta, Wyoming, US",2020-04-18,6,0
286330,56043.0,Washakie,Wyoming,43.904516,-107.680187,"Washakie, Wyoming, US",2020-04-18,5,0
286331,56045.0,Weston,Wyoming,43.839612,-104.567488,"Weston, Wyoming, US",2020-04-18,0,0

In [13]:
# Reset index to use as primary key for county table
kaggle_final3 = kaggle_final2.reset_index(drop=True)
kaggle_final3.tail()

,FIPS,County,State,Lat,Lng,Combined_Key,Date,Confirmed,Deaths
276491,56037.0,Sweetwater,Wyoming,41.659439,-108.882788,"Sweetwater, Wyoming, US",2020-04-18,10,0
276492,56039.0,Teton,Wyoming,43.935225,-110.589080,"Teton, Wyoming, US",2020-04-18,62,0
276493,56041.0,Uinta,Wyoming,41.287818,-110.547578,"Uinta, Wyoming, US",2020-04-18,6,0
276494,56043.0,Washakie,Wyoming,43.904516,-107.680187,"Washakie, Wyoming, US",2020-04-18,5,0
276495,56045.0,Weston,Wyoming,43.839612,-104.567488,"Weston, Wyoming, US",2020-04-18,0,0

In [14]:
# Export kaggle df as a csv so it can be imported to postgres
kaggle_final3.to_csv("Clean_CSVs/county_data.csv", encoding="utf-8", index=True)

# Import CDC CSV With COVID Forecasts By State #

In [15]:
# Import csv file with forecast of potential deaths by state
# Data was downloaded from https://www.cdc.gov/coronavirus/2019-ncov/covid-data/forecasting-us.html
file2 = "Raw_Data/forecast_data_0420.csv"
forecast_raw = pd.read_csv(file2)
forecast_raw.tail()

,model,forecast_date,target,target_week_end_date,location_name,point,quantile_0.025,quantile_0.975
1640,YYG,4/20/2020,4 wk ahead cum death,5/16/2020,West Virginia,75,54.0,110.0
1641,YYG,4/20/2020,1 wk ahead cum death,4/25/2020,Wyoming,4,4.0,4.0
1642,YYG,4/20/2020,2 wk ahead cum death,5/2/2020,Wyoming,8,7.0,9.0
1643,YYG,4/20/2020,3 wk ahead cum death,5/9/2020,Wyoming,11,10.0,14.0
1644,YYG,4/20/2020,4 wk ahead cum death,5/16/2020,Wyoming,15,13.0,19.0

In [16]:
# Only keep rows for states, not whole of US and US territories
forecast_states = forecast_raw.loc[forecast_raw["location_name"].isin(us_states_list),:]
forecast_states.head()

,model,forecast_date,target,target_week_end_date,location_name,point,quantile_0.025,quantile_0.975
1,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Alabama,184,157.0,226.0
2,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Alaska,15,15.0,18.0
3,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Arizona,265,222.0,325.0
4,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Arkansas,50,42.0,62.0
5,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,California,2012,1792.0,2520.0

In [17]:
# Drop rows with missing data
forecast_states = forecast_states.dropna()
forecast_states.count()

model                   1592
forecast_date           1592
target                  1592
target_week_end_date    1592
location_name           1592
point                   1592
quantile_0.025          1592
quantile_0.975          1592
dtype: int64

In [18]:
# Rename columns (target week end date to target end date, location name to state, point to actual)
forecast_renamed = forecast_states.rename(columns={"target_week_end_date":"target_end_date", "location_name":"state", "point":"actual"})
forecast_renamed.head(20)

,model,forecast_date,target,target_end_date,state,actual,quantile_0.025,quantile_0.975
1,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Alabama,184,157.0,226.0
2,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Alaska,15,15.0,18.0
3,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Arizona,265,222.0,325.0
4,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Arkansas,50,42.0,62.0
5,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,California,2012,1792.0,2520.0
6,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Colorado,585,525.0,650.0
7,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Connecticut,2153,1748.0,2483.0
8,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Delaware,232,175.0,306.0
9,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Florida,1419,1162.0,1715.0
10,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Georgia,927,843.0,1026.0
11,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Hawaii,14,10.0,24.0
12,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Idaho,54,47.0,71.0
13,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Illinois,2426,1836.0,2808.0
14,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Indiana,815,703.0,894.0
15,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Iowa,103,88.0,131.0
16,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Kansas,113,98.0,130.0
17,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Kentucky,165,154.0,183.0
18,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Louisiana,1832,1604.0,1983.0
19,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Maine,37,33.0,51.0
20,CU 40% contact reduction,4/20/2020,1 wk ahead cum death,4/25/2020,Maryland,1036,892.0,1227.0

In [19]:
# Check if date column types are datetime or string 
forecast_renamed.dtypes

model               object
forecast_date       object
target              object
target_end_date     object
state               object
actual               int64
quantile_0.025     float64
quantile_0.975     float64
dtype: object

In [20]:
# Change dates from strings to datetime objects
forecast_renamed['forecast_date'] = pd.to_datetime(forecast_renamed['forecast_date'],format='%m/%d/%Y')
forecast_renamed['target_end_date'] = pd.to_datetime(forecast_renamed['target_end_date'],format='%m/%d/%Y')
forecast_renamed.tail()

,model,forecast_date,target,target_end_date,state,actual,quantile_0.025,quantile_0.975
1640,YYG,2020-04-20,4 wk ahead cum death,2020-05-16,West Virginia,75,54.0,110.0
1641,YYG,2020-04-20,1 wk ahead cum death,2020-04-25,Wyoming,4,4.0,4.0
1642,YYG,2020-04-20,2 wk ahead cum death,2020-05-02,Wyoming,8,7.0,9.0
1643,YYG,2020-04-20,3 wk ahead cum death,2020-05-09,Wyoming,11,10.0,14.0
1644,YYG,2020-04-20,4 wk ahead cum death,2020-05-16,Wyoming,15,13.0,19.0

In [21]:
# Verify columns changed to datetime
forecast_renamed.dtypes

model                      object
forecast_date      datetime64[ns]
target                     object
target_end_date    datetime64[ns]
state                      object
actual                      int64
quantile_0.025            float64
quantile_0.975            float64
dtype: object

In [22]:
# Reset index to use as primary key for county table
forecast_final = forecast_renamed.reset_index(drop=True)
forecast_final.tail()

,model,forecast_date,target,target_end_date,state,actual,quantile_0.025,quantile_0.975
1587,YYG,2020-04-20,4 wk ahead cum death,2020-05-16,West Virginia,75,54.0,110.0
1588,YYG,2020-04-20,1 wk ahead cum death,2020-04-25,Wyoming,4,4.0,4.0
1589,YYG,2020-04-20,2 wk ahead cum death,2020-05-02,Wyoming,8,7.0,9.0
1590,YYG,2020-04-20,3 wk ahead cum death,2020-05-09,Wyoming,11,10.0,14.0
1591,YYG,2020-04-20,4 wk ahead cum death,2020-05-16,Wyoming,15,13.0,19.0

In [23]:
# Export forecast df as a csv so it can be imported to postgres
forecast_final.to_csv("Clean_CSVs/forecast_cdc.csv", encoding="utf-8", index=True)

# Scraping Policydates And Hospital Resource Data #

In [24]:
#Define empty lists to store data for each state
covid19_healthdate_dates_bystate = []
covid19_healthdate_resources_bystate = []

In [25]:
#function to scrape covid19.healthdata.org for each state
def covid19_healthdata_scrape(state):
    #formating the state to match url 
    formatedstate = state.lower().replace(' ', '-') 
    url = f"https://covid19.healthdata.org/united-states-of-america/{formatedstate}"
    #access the webpage using selenium
    driver = webdriver.Chrome()
    driver.get(url)
    #after accessing the page, wait 5 seconds so the page can fully load before running next line of code
    time.sleep(5)
    #direct path to policy dates information since info is located at same place for every state
    dates_div = driver.find_elements_by_xpath("/html/body/div/div/main/div[3]/div[1]/div[2]")
    #grab the information using list comprehension
    dates_divs_text = [x.text for x in dates_div]
    #splitting up the data as they are all stored in the same div
    dates_text_split = dates_divs_text[0].split('\n')
    #location of resources information
    resources_div = driver.find_elements_by_xpath("/html/body/div/div/main/div[3]/div[3]/div[2]/div/div[2]/div[2]")
    #grab the information using list comprehension
    resources_div_text = [x.text for x in resources_div]
    #splitting up the data as they are all stored in the same div
    resources_div_split = resources_div_text[0].split('\n')
    #close the web browser after getting the information needed
    driver.close()
    #splitting the dates data and storing them in a dictionary
    dates_data = {
    'state': state,
    'mass_gathering_restriction': dates_text_split[1],
    'initual_business_closure': dates_text_split[3],
    'educational_facilities_closure': dates_text_split[5],
    'non-essential_services_closure': dates_text_split[7],
    'stay_at_home_order': dates_text_split[9],
    'travel_severely_limited': dates_text_split[11]}
    #splitting the resources data, removing unnecessary words, converting them into integers, and storing them in a dictionary
    try: 
        resources_data = {
        'state': state,
        'hospital_beds_needed': int(resources_div_split[1].replace('beds','').replace(',','')),
        'hospital_beds_available': int(resources_div_split[3].replace('beds','').replace(',','')),
        'hospital_beds_shortage': int(resources_div_split[5].replace('beds','').replace(',','')),
        'icu_beds_needed': int(resources_div_split[7].replace('beds','').replace(',','')),
        'icu_beds_available': int(resources_div_split[9].replace('beds','').replace(',','')),
        'icu_beds_shortage': int(resources_div_split[11].replace('beds','').replace(',','')),
        'ventilators_needed': int(resources_div_split[13].replace('ventilators','').replace(',',''))
            } 
    except IndexError:
        resources_data = {
        'state': state,
        'hospital_beds_needed': '',
        'hospital_beds_available': int(resources_div_split[1].replace('beds','').replace(',','')),
        'hospital_beds_shortage': '',
        'icu_beds_needed': '',
        'icu_beds_available': int(resources_div_split[3].replace('beds','').replace(',','')),
        'icu_beds_shortage': '',
        'ventilators_needed': ''}
    #push both dictionaries into their respective list
    covid19_healthdate_dates_bystate.append(dates_data)
    covid19_healthdate_resources_bystate.append(resources_data)

In [26]:
#Run the code to scrape covid19.healthdata site to grab data for the
#policy dates declaration and hospital resource information for each state
#and save them into list of dictionaries
for state in us_states_list:
    covid19_healthdata_scrape(state)

In [27]:
#Converting the policydates from a list of dictionaries to a panda dataframe
policydates_df = pd.DataFrame(covid19_healthdate_dates_bystate)
#Converting the hospital resources from a list of dictionaries to a panda dataframe
resource_df = pd.DataFrame(covid19_healthdate_resources_bystate)

In [28]:
#Setting the index for both dataframe to the states 
policydates_df = policydates_df.set_index('state')
resource_df = resource_df.set_index('state')

In [29]:
resource_df.head()

,hospital_beds_needed,hospital_beds_available,hospital_beds_shortage,icu_beds_needed,icu_beds_available,icu_beds_shortage,ventilators_needed
state,,,,,,,
Alabama,274,5744,0,80,475,0,74
Alaska,22,683,0,6,54,0,6
Arizona,496,6018,0,141,508,0,128
Arkansas,101,5006,0,26,395,0,23
California,2731,26654,0,722,1994,0,658

In [30]:
#Grabbing the name of each columns from the policydates dataframe 
columns = policydates_df.columns
#Going through each state and changing all of the data strings into datetime #objects but only keeping the date portion of the datetime object
#Some states have not implemented some policy so thus has a not implemented
#value, those values were converted to an empty space

for x in columns:
    for y in range(len(us_states_list)):
        try:
            policydates_df[x][y] = pd.to_datetime(policydates_df[x][y], format='%B %d, %Y')
            policydates_df[x][y] = policydates_df[x][y].date()
        except ValueError:
            policydates_df[x][y] = policydates_df[x][y].replace('Not implemented', '')

In [31]:
policydates_df.head()

,mass_gathering_restriction,initual_business_closure,educational_facilities_closure,non-essential_services_closure,stay_at_home_order,travel_severely_limited
state,,,,,,
Alabama,2020-03-19,2020-03-19,2020-03-19,2020-03-28,2020-04-04,
Alaska,2020-03-24,2020-03-17,2020-03-16,2020-03-28,2020-03-28,
Arizona,2020-03-30,,2020-03-16,,2020-03-30,
Arkansas,2020-03-27,2020-03-19,2020-03-17,,,
California,2020-03-11,2020-03-19,2020-03-19,2020-03-19,2020-03-19,

In [32]:
#Exporting the dataframes as csvs 
policydates_df.to_csv('Clean_CSVs/covid19_policydates.csv')
resource_df.to_csv('Clean_CSVs/hospital_resources.csv')

# Scraping WorldOMeters #

# Making the requests and retrieving the HTML contents #

In [41]:
#the request (needs to be 200)
result = requests.get("https://www.worldometers.info/coronavirus/country/us/")

src = result.content
soup = BeautifulSoup(src, 'html.parser')

table = soup.find_all('table')

state_list = []

# Retrieving the table data from the HTML and stripping unnecessary characters and tags#

In [42]:
#html by id tag
table_data = soup.find(id="usa_table_countries_today")

#html by style tags
table_data = table_data.find_all(style = ["font-weight: bold; text-align:right","text-align:right;font-weight:bold;",\
"font-weight: bold; text-align:right;","font-weight: bold; text-align:right;background-color:#FFEEAA;","font-weight: bold; text-align:right;background-color:red; color:white"] )
#six_day = table_data.find_all('td')
print(table_data)


#for loop to strip the tags from the HTML
for data in table_data:
    
    data = data.text
    data = data.replace(',', '')
    data = data.replace(' ', '')
    data = data.strip('\n')
    
    state_list.append(data) #stripping the '\n' from the data

t">87</td>, <td style="text-align:right;font-weight:bold;">
66,094 </td>, <td style="font-weight: bold; text-align:right">22,114</td>, <td style="font-weight: bold; text-align:right">6,095 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+214 </td>, <td style="font-weight: bold; text-align:right;">
244 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+12 </td>, <td style="text-align:right;font-weight:bold;">
2,150 </td>, <td style="font-weight: bold; text-align:right">1,230</td>, <td style="font-weight: bold; text-align:right">49</td>, <td style="text-align:right;font-weight:bold;">
56,512 </td>, <td style="font-weight: bold; text-align:right">11,403</td>, <td style="font-weight: bold; text-align:right">5,136 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+492 </td>, <td style="font-weight: bold; text-align:right;">
343 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+24 </td>, <td style="text-align:right;font-weight:bold;">
2,621 </td>, <td style="font-weight: bold; text-align:right">929</td>, <td style="font-weight: bold; text-align:right">62</td>, <td style="text-align:right;font-weight:bold;">
70,276 </td>, <td style="font-weight: bold; text-align:right">12,714</td>, <td style="font-weight: bold; text-align:right">4,998 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+100 </td>, <td style="font-weight: bold; text-align:right;">
237 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
1,856 </td>, <td style="font-weight: bold; text-align:right">1,710</td>, <td style="font-weight: bold; text-align:right">81</td>, <td style="text-align:right;font-weight:bold;">
51,761 </td>, <td style="font-weight: bold; text-align:right">17,709</td>, <td style="font-weight: bold; text-align:right">4,734 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+79 </td>, <td style="font-weight: bold; text-align:right;">
152 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+8 </td>, <td style="text-align:right;font-weight:bold;">
3,307 </td>, <td style="font-weight: bold; text-align:right">4,986</td>, <td style="font-weight: bold; text-align:right">160</td>, <td style="text-align:right;font-weight:bold;">
21,820 </td>, <td style="font-weight: bold; text-align:right">22,981</td>, <td style="font-weight: bold; text-align:right">4,708 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+169 </td>, <td style="font-weight: bold; text-align:right;">
240 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+5 </td>, <td style="text-align:right;font-weight:bold;">
3,346 </td>, <td style="font-weight: bold; text-align:right">1,060</td>, <td style="font-weight: bold; text-align:right">54</td>, <td style="text-align:right;font-weight:bold;">
56,611 </td>, <td style="font-weight: bold; text-align:right">12,750</td>, <td style="font-weight: bold; text-align:right">4,672 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+177 </td>, <td style="font-weight: bold; text-align:right;">
46 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+1 </td>, <td style="text-align:right;font-weight:bold;">
2,687 </td>, <td style="font-weight: bold; text-align:right">1,534</td>, <td style="font-weight: bold; text-align:right">15</td>, <td style="text-align:right;font-weight:bold;">
108,501 </td>, <td style="font-weight: bold; text-align:right">35,628</td>, <td style="font-weight: bold; text-align:right">4,323 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+217 </td>, <td style="font-weight: bold; text-align:right;">
224 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+19 </td>, <td style="text-align:right;font-weight:bold;">
 3,439 </td>, <td style="font-weight: bold; text-align:right">6,316</td>, <td style="font-weight: bold; text-align:right">327</td>, <td style="text-align:right;font-weight:bold;">
20,079 </td>, <td style="font-weight: bold; text-align:right">29,334</td>, <td style="font-weight: bold; text-align:right">4,302 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+463 </td>, <td style="font-weight: bold; text-align:right;">
134 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
3,367 </td>, <td style="font-weight: bold; text-align:right">1,479</td>, <td style="font-weight: bold; text-align:right">46</td>, <td style="text-align:right;font-weight:bold;">
31,626 </td>, <td style="font-weight: bold; text-align:right">10,873</td>, <td style="font-weight: bold; text-align:right">3,784 </td>, <td style="font-weight: bold; text-align:right;">
</td>, <td style="font-weight: bold; text-align:right;">
68 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
3,694 </td>, <td style="font-weight: bold; text-align:right">1,987</td>, <td style="font-weight: bold; text-align:right">36</td>, <td style="text-align:right;font-weight:bold;">
25,498 </td>, <td style="font-weight: bold; text-align:right">13,386</td>, <td style="font-weight: bold; text-align:right">3,618 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+145 </td>, <td style="font-weight: bold; text-align:right;">
222 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+8 </td>, <td style="text-align:right;font-weight:bold;">
995 </td>, <td style="font-weight: bold; text-align:right">923</td>, <td style="font-weight: bold; text-align:right">57</td>, <td style="text-align:right;font-weight:bold;">
61,619 </td>, <td style="font-weight: bold; text-align:right">15,727</td>, <td style="font-weight: bold; text-align:right">3,411 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+198 </td>, <td style="font-weight: bold; text-align:right;">
123 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+11 </td>, <td style="text-align:right;font-weight:bold;">
2,528 </td>, <td style="font-weight: bold; text-align:right">1,630</td>, <td style="font-weight: bold; text-align:right">59</td>, <td style="text-align:right;font-weight:bold;">
67,869 </td>, <td style="font-weight: bold; text-align:right">32,435</td>, <td style="font-weight: bold; text-align:right">3,255 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+48 </td>, <td style="font-weight: bold; text-align:right;">
59 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
1,891 </td>, <td style="font-weight: bold; text-align:right">1,088</td>, <td style="font-weight: bold; text-align:right">20</td>, <td style="text-align:right;font-weight:bold;">
48,379 </td>, <td style="font-weight: bold; text-align:right">16,177</td>, <td style="font-weight: bold; text-align:right">2,510 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+64 </td>, <td style="font-weight: bold; text-align:right;">
103 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+2 </td>, <td style="text-align:right;font-weight:bold;">
1,547 </td>, <td style="font-weight: bold; text-align:right">615</td>, <td style="font-weight: bold; text-align:right">25</td>, <td style="text-align:right;font-weight:bold;">
56,032 </td>, <td style="font-weight: bold; text-align:right">13,727</td>, <td style="font-weight: bold; text-align:right">2,449 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+76 </td>, <td style="font-weight: bold; text-align:right;">
17 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+4 </td>, <td style="text-align:right;font-weight:bold;">
859 </td>, <td style="font-weight: bold; text-align:right">2,834</td>, <td style="font-weight: bold; text-align:right">20</td>, <td style="text-align:right;font-weight:bold;">
17,208 </td>, <td style="font-weight: bold; text-align:right">19,910</td>, <td style="font-weight: bold; text-align:right">2,054 </td>, <td style="font-weight: bold; text-align:right;">
</td>, <td style="font-weight: bold; text-align:right;">
66 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
1,008 </td>, <td style="font-weight: bold; text-align:right">1,529</td>, <td style="font-weight: bold; text-align:right">49</td>, <td style="text-align:right;font-weight:bold;">
21,921 </td>, <td style="font-weight: bold; text-align:right">16,315</td>, <td style="font-weight: bold; text-align:right">1,984 </td>, <td style="font-weight: bold; text-align:right;">
</td>, <td style="font-weight: bold; text-align:right;">
60 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
837 </td>, <td style="font-weight: bold; text-align:right">1,175</td>, <td style="font-weight: bold; text-align:right">36</td>, <td style="text-align:right;font-weight:bold;">
28,240 </td>, <td style="font-weight: bold; text-align:right">16,732</td>, <td style="font-weight: bold; text-align:right">1,118 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+9 </td>, <td style="font-weight: bold; text-align:right;">
41 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+1 </td>, <td style="text-align:right;font-weight:bold;">
596 </td>, <td style="font-weight: bold; text-align:right">611</td>, <td style="font-weight: bold; text-align:right">22</td>, <td style="text-align:right;font-weight:bold;">
44,541 </td>, <td style="font-weight: bold; text-align:right">24,352</td>, <td style="font-weight: bold; text-align:right">1,095 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+39 </td>, <td style="font-weight: bold; text-align:right;">
53 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+1 </td>, <td style="text-align:right;font-weight:bold;">
411 </td>, <td style="font-weight: bold; text-align:right">822</td>, <td style="font-weight: bold; text-align:right">40</td>, <td style="text-align:right;font-weight:bold;">
20,641 </td>, <td style="font-weight: bold; text-align:right">15,487</td>, <td style="font-weight: bold; text-align:right">1,067 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+34 </td>, <td style="font-weight: bold; text-align:right;">
19 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
590 </td>, <td style="font-weight: bold; text-align:right">1,419</td>, <td style="font-weight: bold; text-align:right">25</td>, <td style="text-align:right;font-weight:bold;">
27,460 </td>, <td style="font-weight: bold; text-align:right">36,506</td>, <td style="font-weight: bold; text-align:right">866 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+4 </td>, <td style="font-weight: bold; text-align:right;">
49 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+2 </td>, <td style="text-align:right;font-weight:bold;">
817 </td>, <td style="font-weight: bold; text-align:right">1,386</td>, <td style="font-weight: bold; text-align:right">78</td>, <td style="text-align:right;font-weight:bold;">
15,652 </td>, <td style="font-weight: bold; text-align:right">25,044</td>, <td style="font-weight: bold; text-align:right">618 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+5 </td>, <td style="font-weight: bold; text-align:right;">
16 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
76 </td>, <td style="font-weight: bold; text-align:right">435</td>, <td style="font-weight: bold; text-align:right">11</td>, <td style="text-align:right;font-weight:bold;">
29,862 </td>, <td style="font-weight: bold; text-align:right">21,000</td>, <td style="font-weight: bold; text-align:right">559 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+15 </td>, <td style="font-weight: bold; text-align:right;">
7 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
181 </td>, <td style="font-weight: bold; text-align:right">961</td>, <td style="font-weight: bold; text-align:right">12</td>, <td style="text-align:right;font-weight:bold;">
9,306 </td>, <td style="font-weight: bold; text-align:right">15,994</td>, <td style="font-weight: bold; text-align:right">453 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+2 </td>, <td style="font-weight: bold; text-align:right;">
16 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
45 </td>, <td style="font-weight: bold; text-align:right">435</td>, <td style="font-weight: bold; text-align:right">15</td>, <td style="text-align:right;font-weight:bold;">
13,914 </td>, <td style="font-weight: bold; text-align:right">13,357</td>, <td style="font-weight: bold; text-align:right">355 </td>, <td style="font-weight: bold; text-align:right;">
</td>, <td style="font-weight: bold; text-align:right;">
9 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
94 </td>, <td style="font-weight: bold; text-align:right">481</td>, <td style="font-weight: bold; text-align:right">12</td>, <td style="text-align:right;font-weight:bold;">
19,562 </td>, <td style="font-weight: bold; text-align:right">26,488</td>, <td style="font-weight: bold; text-align:right">145 </td>, <td style="font-weight: bold; text-align:right;">
</td>, <td style="font-weight: bold; text-align:right;">
5 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
10 </td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right"></td>, <td style="text-align:right;font-weight:bold;">
605
</td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right">14 </td>, <td style="font-weight: bold; text-align:right;">
</td>, <td style="font-weight: bold; text-align:right;">
2 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
0 </td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right"></td>, <td style="text-align:right;font-weight:bold;">
45
</td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right">1,539 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+106 </td>, <td style="font-weight: bold; text-align:right;">
92 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+6 </td>, <td style="text-align:right;font-weight:bold;">
 1,056 </td>, <td style="font-weight: bold; text-align:right">454</td>, <td style="font-weight: bold; text-align:right">27</td>, <td style="text-align:right;font-weight:bold;">
13,022
</td>, <td style="font-weight: bold; text-align:right">3,845</td>, <td style="font-weight: bold; text-align:right">66 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+4 </td>, <td style="font-weight: bold; text-align:right;">
4 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
11 </td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right"></td>, <td style="text-align:right;font-weight:bold;">
872
</td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right">8,596 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+322  </td>, <td style="font-weight: bold; text-align:right;">
494 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+10 </td>, <td style="text-align:right;font-weight:bold;">
8,102 </td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right"></td>, <td style="text-align:right;font-weight:bold;">
95,680
</td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right">6,962 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+314 </td>, <td style="font-weight: bold; text-align:right;">
26 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
4,829 </td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right"></td>, <td style="text-align:right;font-weight:bold;">
</td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right">2,041 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+164 </td>, <td style="font-weight: bold; text-align:right;">
33 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+2 </td>, <td style="text-align:right;font-weight:bold;">
1,462 </td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right"></td>, <td style="text-align:right;font-weight:bold;">
</td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right">1,977 </td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">
+104 </td>, <td style="font-weight: bold; text-align:right;">
62 </td>, <td style="font-weight: bold; text-align:right;background-color:red; color:white">+2 </td>, <td style="text-align:right;font-weight:bold;">
1,915 </td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right"></td>, <td style="text-align:right;font-weight:bold;">
10,216
</td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right">103 </td>, <td style="font-weight: bold; text-align:right;">
</td>, <td style="font-weight: bold; text-align:right;">
3 </td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
100 </td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right"></td>, <td style="text-align:right;font-weight:bold;">
</td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right">3 </td>, <td style="font-weight: bold; text-align:right;">
</td>, <td style="font-weight: bold; text-align:right;">
</td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
3 </td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right"></td>, <td style="text-align:right;font-weight:bold;">
3
</td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right">46 </td>, <td style="font-weight: bold; text-align:right;">
</td>, <td style="font-weight: bold; text-align:right;">
</td>, <td style="font-weight: bold; text-align:right;"> </td>, <td style="text-align:right;font-weight:bold;">
46 </td>, <td style="font-weight: bold; text-align:right"></td>, <td style="font-weight: bold; text-align:right"></td>, <td style="text-align:right;font-weight:bold;">
46
</td>, <td style="font-weight: bold; text-align:right"></td>]

# Creating the row and column lists for the dataframe #

In [43]:
#list of the states for the dataframe rows
#worldometer data are listed from most cases to least, this states variable matches the data 
#on the site
list_of_states = ['New York', 'New Jersey', 'Massachusetts', 'California', 'Pennsylvania', 'Illinois', 'Michigan', 'Florida', 'Louisiana', 'Connecticut', 'Texas', 'Georgia', 'Maryland', 'Ohio\
', 'Indiana', 'Washington', 'Colorado', 'Virginia', 'Tennessee', 'North Carolina', 'Missouri', 'Rhode Island', 'Alabama', 'Arizona', 'Mississippi', 'Wisconsin', 'South Carolina', 'Nevada', 'Iowa\
', 'Utah', 'Kentucky', 'District of Columbia', 'Delaware', 'Oklahoma', 'Minnesota', 'Arkansas', 'Kansas', 'New Mexico', 'Oregon', 'Nebraska', 'South Dakota\
', 'Idaho', 'New Hampshire', 'West Virginia', 'Maine', 'Vermont', 'North Dakota', 'Hawaii', 'Wyoming', 'Montana', 'Alaska']

#column list for the dateframe columns
list_of_columns = ["Total_cases", "New_cases", "Total_deaths", "New_deaths", "Active_cases", "Cases_per_million", "Deaths_per_million", "Total_tests", "Tests_per_million"]

In [44]:
state_list = state_list[:459] #intentially cutting string values off to eliminate US territories and crusie ships in the data

df = pd.DataFrame(np.array(state_list).reshape(51,9), index= list_of_states, columns = list_of_columns) #turns the giant list of data into a 51x9 dataframe with the columns and rows listed

df.index.name = "State" #sets index name

# Retrieving the news date and time and stripping tags and characters #

In [45]:
news_date = soup.find(style="font-size:13px; color:#999; text-align:center") #find the date and time in GMT time
news_date = news_date.text #strip the HTML tags
news_date = news_date.strip("Last updated: ") # removes the Last Updated part of text


#stripping the time string of spaces and colon
news_date = news_date.replace(' ', '')
news_date = news_date.replace(':', '')

# Creating CSV file name and loading date and time from HTML into title #

In [46]:
csv_string = "states - " + str(news_date) + ".csv"

#dictionary to convert month name to month number of the year

month_string_to_number = {
    'January': '01',
    'February': '02',
    'March': '03',
    'April':'04',
    'May':'05',
    'June':'06',
    'July':'07',
    'August':'08',
    'September':'09',
    'October':'10',
    'November':'11',
    'December':'12'
    }


#pulling date and time info from news_date string
month_string = news_date[:-15]
month_number = month_string_to_number[month_string]
day_string = int(news_date[-15:-13])
year_string = news_date[-12:-8]
GMTtime_string = int(news_date[-7:-3])
ESTtime_string = year_string + "-" + month_number + "-" + str(day_string)
df.insert(0, 'Date', ESTtime_string)

# Stripping the final extraneous characters and creating CSV from dataframe #

In [47]:
#Strip the plus signs from the "new" columns
df['New_cases'] = df['New_cases'].str.replace('+', '')
df['New_deaths'] = df['New_deaths'].str.replace('+', '')

#creating and uploading dataframe to csv file with the name of the date and time

df.to_csv(f"Clean_CSVs/{csv_string}")

In [48]:
df

,Date,Total_cases,New_cases,Total_deaths,New_deaths,Active_cases,Cases_per_million,Deaths_per_million,Total_tests,Tests_per_million
State,,,,,,,,,,
New York,2020-04-30,310839,4681,23780,306,237654,15844,1212,900636,45908
New Jersey,2020-04-30,118652,2388,7228,458,110153,13359,814,246934,27802
Massachusetts,2020-04-30,62205,1940,3562,157,50525,9107,522,275647,40357
California,2020-04-30,52918,2563,2355,140,49957,4127,184,269867,21048
Pennsylvania,2020-04-30,49840,1275,2014,75,44489,1273,51,603139,15406
Illinois,2020-04-30,47999,2271,2541,187,44693,3753,199,221365,17306
Michigan,2020-04-30,41379,980,3789,119,29248,4156,381,177228,17798
Florida,2020-04-30,33690,497,1268,50,31736,1636,62,384153,18650
Louisiana,2020-04-30,28455,889,802,53,15146,1020,29,330300,11845
Connecticut,2020-04-30,28001,341,1905,60,8793,6004,408,156568,33572
Texas,2020-04-30,27700,933,2257,89,25378,7734,630,97133,27121
Georgia,2020-04-30,26237,586,1131,33,25075,2548,110,149044,14474
Maryland,2020-04-30,21742,893,1140,62,19339,3622,190,114359,19049
Ohio,2020-04-30,18027,724,975,38,16932,1548,84,133148,11437
Indiana,2020-04-30,17835,653,1114,49,16707,2687,168,94998,14312
Washington,2020-04-30,15846,885,552,30,13190,1883,66,90843,10797
Colorado,2020-04-30,14758,,766,,13433,2668,138,69449,12556
Virginia,2020-04-30,14070,,801,,11418,1929,110,187800,25746
Tennessee,2020-04-30,10746,565,405,24,9039,1058,40,128517,12655
North Carolina,2020-04-30,10735,369,199,4,5198,1614,30,177626,26706
Missouri,2020-04-30,8621,374,266,15,8013,8159,252,63710,60297
Rhode Island,2020-04-30,7766,190,343,5,6876,1275,56,73503,12069
Alabama,2020-04-30,7648,446,320,16,7258,1101,46,71786,10334
Arizona,2020-04-30,7145,302,162,14,4286,2281,52,42667,13621
Mississippi,2020-04-30,7019,115,269,14,6730,1443,55,87364,17959
Wisconsin,2020-04-30,6854,334,316,8,3328,1186,55,76248,13195
South Carolina,2020-04-30,6815,246,261,11,6554,2280,87,66094,22114
Nevada,2020-04-30,6095,214,244,12,2150,1230,49,56512,11403
Iowa,2020-04-30,5136,492,343,24,2621,929,62,70276,12714
Utah,2020-04-30,4998,100,237,,1856,1710,81,51761,17709
Kentucky,2020-04-30,4734,79,152,8,3307,4986,160,21820,22981
District of Columbia,2020-04-30,4708,169,240,5,3346,1060,54,56611,12750
Delaware,2020-04-30,4672,177,46,1,2687,1534,15,108501,35628
Oklahoma,2020-04-30,4323,217,224,19,3439,6316,327,20079,29334
Minnesota,2020-04-30,4302,463,134,,3367,1479,46,31626,10873
Arkansas,2020-04-30,3784,,68,,3694,1987,36,25498,13386
Kansas,2020-04-30,3618,145,222,8,995,923,57,61619,15727
New Mexico,2020-04-30,3411,198,123,11,2528,1630,59,67869,32435
Oregon,2020-04-30,3255,48,59,,1891,1088,20,48379,16177
Nebraska,2020-04-30,2510,64,103,2,1547,615,25,56032,13727
South Dakota,2020-04-30,2449,76,17,4,859,2834,20,17208,19910
Idaho,2020-04-30,2054,,66,,1008,1529,49,21921,16315
New Hampshire,2020-04-30,1984,,60,,837,1175,36,28240,16732
West Virginia,2020-04-30,1118,9,41,1,596,611,22,44541,24352
Maine,2020-04-30,1095,39,53,1,411,822,40,20641,15487
Vermont,2020-04-30,1067,34,19,,590,1419,25,27460,36506
North Dakota,2020-04-30,866,4,49,2,817,1386,78,15652,25044
Hawaii,2020-04-30,618,5,16,,76,435,11,29862,21000
Wyoming,2020-04-30,559,15,7,,181,961,12,9306,15994
Montana,2020-04-30,453,2,16,,45,435,15,13914,13357
Alaska,2020-04-30,355,,9,,94,481,12,19562,26488